
/*  FONTS */

.arsenal-sc-regular {
    font-family: "Arsenal SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.arsenal-sc-bold {
    font-family: "Arsenal SC", sans-serif;
    font-weight: 700;
    font-style: normal;
}
  
.arsenal-sc-regular-italic {
    font-family: "Arsenal SC", sans-serif;
    font-weight: 400;
    font-style: italic;
}
 
.arsenal-sc-bold-italic {
    font-family: "Arsenal SC", sans-serif;
    font-weight: 700;
    font-style: italic;
}
  
/* MAIN BODY */

.main-body {
    display: flex;
    flex-direction: row;
}


/* NAVIGATION BAR | HOME BAR */

.navigation-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    padding: 0px;
}

.navigation-img-text {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
}

.staar-logo {
    width: 80px;
    height: 50px;
    margin-top: 3px;
    margin-left: 3px;
}

.group-name {
    padding-left: 15px; 
    font-family: "Arsenal SC", sans-serif;
    font-weight: 200;
    font-size: 25px;
}

.navigation-buttons {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.navigation-button-format {
    padding-right: 20px;
}

.home-button {

}

.professors-button {

}

.team-button {
    
}

.research-button {

}

.navigation-dropdown-button {
    margin-right: 5px;
    padding-left: 20px;
}

.navigation-dropdown-icon {
    position: relative;
    padding-left: 5px;
}

.navigation-hover-box {
    display: flex;
}

.team-button-hover {
    display: none;
}

.research-button-hover {
    display: none;
}


/* MEDIA QUERY | RESPONSIVE DESIGN*/

